<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Hello World</h1>
    <a href="/sign-up"><button>Create an account</button></a>
    <a href="/log-in"><button>Log In</button></a>
  </body>
</html>
