<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%if(login){%>
    <h1>You are logged in!</h1>
    <a href="/log-out"><button>Log Out</button></a>
    <%}else{%>
    <h1>You are not logged in!</h1>
    <a href="/sign-up"><button>Create an account</button></a>
    <a href="/log-in"><button>Log In</button></a>
    <%}%>
  </body>
</html>
